<a href="https://colab.research.google.com/github/shin-lunita/tps-pii-colab-copy/blob/main/set_Pr%C3%A1ctica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
estudiantes = [
    {'name': 'Abud Laspiur, Lourdes Mariel', 'section': 'C', 'dob': '05/12/2006'},
    {'name': 'Amador, Luana Micaela', 'section': 'C', 'dob': '09/12/2006'},
    {'name': 'Anaquin, Leonardo Ezequiel', 'section': 'C', 'dob': '06/09/2005'},
    {'name': 'Araoz Sanchez, Lautaro Nahuel', 'section': 'C', 'dob': '28/12/2005'},
    {'name': 'Argañaraz, Agostina Abril', 'section': 'C', 'dob': '11/10/2006'},
    {'name': 'Barrera, Matias Ezequiel', 'section': 'C', 'dob': '27/02/2007'},
    {'name': 'Barrera, Matias Ezequiel', 'section': 'C', 'dob': '27/02/2007'},  # Repetido
    {'name': 'Barrozo Vedia, Joaquin Nicolas', 'section': 'C', 'dob': '15/04/2006'},
    {'name': 'Bettinelli, Valentino', 'section': 'C', 'dob': '12/07/2006'},
    {'name': 'Bracamonte Martinez, Salvador', 'section': 'C', 'dob': '02/11/2005'},
    {'name': 'Colque Rivero, Ariana Zoe Del Valle', 'section': 'C', 'dob': '27/12/2006'},
    {'name': 'Diaz, Dulce Maitena', 'section': 'C', 'dob': '11/12/2006'},
    {'name': 'Figueroa, Santino Josue', 'section': 'C', 'dob': '12/05/2007'},
    {'name': 'Figueroa, Santino Josue', 'section': 'C', 'dob': '12/05/2007'},  # Repetido
    {'name': 'Flores Cardozo, Agustina Tiara', 'section': 'C', 'dob': '18/03/2006'},
    {'name': 'Gallo, Octavio Ismael', 'section': 'C', 'dob': '04/08/2006'},
    {'name': 'Galvan, Lourdes Yamila', 'section': 'C', 'dob': '19/08/2005'},
    {'name': 'Giangreco, Vitto Tomasso', 'section': 'C', 'dob': '21/03/2007'},
    {'name': 'Grancara, Martina Luna', 'section': 'C', 'dob': '15/12/2006'},
    {'name': 'Guanca, Sara Elizabeth', 'section': 'C', 'dob': '17/01/2007'},
    {'name': 'Lopez, Victoria Constanza', 'section': 'C', 'dob': '12/11/2007'},
    {'name': 'Mamani Garrido, Rosario Agostina', 'section': 'C', 'dob': '24/10/2006'},
    {'name': 'Marinaro, Martin Ezequiel', 'section': 'C', 'dob': '03/11/2006'},
    {'name': 'Merluzzi Dagum, Ignacio', 'section': 'C', 'dob': '22/12/2005'},
    {'name': 'Messina, Martina', 'section': 'C', 'dob': '13/07/2005'},
    {'name': 'Rasuk, Karim', 'section': 'C', 'dob': '13/07/2007'},
    {'name': 'Rasuk, Karim', 'section': 'C', 'dob': '13/07/2007'},  # Repetido
    {'name': 'Rios, Lucia Magali', 'section': 'C', 'dob': '22/09/2006'},
    {'name': 'Sanchez Flores, Matías Agustín', 'section': 'C', 'dob': '15/02/2007'},
    {'name': 'Scarano, Renato Marcelo', 'section': 'C', 'dob': '06/12/2006'},
    {'name': 'Sierra, Lucas Mauricio', 'section': 'C', 'dob': '03/04/2005'},
    {'name': 'Tapia, Martin Gabriel', 'section': 'C', 'dob': '30/05/2006'},
    {'name': 'Vilte, Mia Antonella Alondra', 'section': 'C', 'dob': '10/09/2005'},
    {'name': 'Virgillito, Katya Milena', 'section': 'C', 'dob': '19/06/2007'},
    {'name': 'Alurralde, Solange Stefania', 'section': 'D', 'dob': '02/04/2007'},
    {'name': 'Alvarado, Ludmila Del Milagro', 'section': 'D', 'dob': '06/09/2006'},
    {'name': 'Angel, Camila Juliana', 'section': 'D', 'dob': '07/03/2007'},
    {'name': 'Arenas, Lucas Gabriel', 'section': 'D', 'dob': '26/06/2007'},
    {'name': 'Caseres, Maria Antonia', 'section': 'D', 'dob': '01/07/2006'},
    {'name': 'Castillo, Paulina Milagros', 'section': 'D', 'dob': '01/06/2007'},
    {'name': 'Correa Segovia, Hugo Mariano', 'section': 'D', 'dob': '04/12/2006'},
    {'name': 'Correa Segovia, Hugo Mariano', 'section': 'D', 'dob': '04/12/2006'},  # Repetido
    {'name': 'D Elia, Alvaro Tadeo', 'section': 'D', 'dob': '27/08/2006'},
    {'name': 'Flores, Victoria Agustina', 'section': 'D', 'dob': '12/12/2006'},
    {'name': 'Geronimo Soriano, Lizzie Amaya', 'section': 'D', 'dob': '20/01/2007'},
    {'name': 'Guzman, Angélica Morena', 'section': 'D', 'dob': '11/04/2007'},
    {'name': 'Guzman, Jazmin Esmeralda Belen', 'section': 'D', 'dob': '31/07/2006'},
    {'name': 'Jaime, Anita Maria Belen', 'section': 'D', 'dob': '19/04/2007'},
    {'name': 'Lacour Polo, Nazarena', 'section': 'D', 'dob': '19/12/2005'},
    {'name': 'Lascano Guanca, Marcelo Fabricio', 'section': 'D', 'dob': '17/02/2006'},
    {'name': 'Lezcano, Celia Morena', 'section': 'D', 'dob': '01/07/2005'},
    {'name': 'Martinez, Tomas Andres', 'section': 'D', 'dob': '22/03/2007'},
    {'name': 'Portella Valdivia, Pedro Francisco', 'section': 'D', 'dob': '24/01/2007'},
    {'name': 'Retamal Cisneros, Zacarias Josue', 'section': 'D', 'dob': '24/02/2007'},
    {'name': 'Rosales, Francisco Gabriel', 'section': 'D', 'dob': '14/11/2006'},
    {'name': 'Salem Barba, Mahia', 'section': 'D', 'dob': '14/10/2005'},
    {'name': 'Soto Camara, Agustin Ignacio', 'section': 'D', 'dob': '07/11/2005'},
    {'name': 'Villalba, Irina', 'section': 'D', 'dob': '09/09/2006'},
    {'name': 'Voltolini, Emanuel Tobias', 'section': 'D', 'dob': '17/09/2006'},
    {'name': 'Zalazar, Santino Stefano', 'section': 'D', 'dob': '30/09/2006'},
    {'name': 'Zalazar, Santino Stefano', 'section': 'D', 'dob': '30/09/2006'}  # Repetido
]

In [ ]:
# Spoiler de estructura que veremos en los siguientes TPs
import json
for estudiante in estudiantes:
  alumno_json = json.dumps(estudiante,indent=4,ensure_ascii=False)
  print(alumno_json,",")

## Dada la lista estudiantes:
> - Hacer una celda para resolver cada punto.
- El TP resuelto será revisado en tu repositorio, no es necesario que lo envíes, pero sí que lo pushees correctamente.
- En la nota inicial se contempla:
  - La incorporación de este documento a tu propio respositorio.
  - El pusheo de los cambios realizados.
  - La resolución de los ejercicios propuestos.

1. Dada la lista de estudiantes, elimina los elementos repetidos de la misma, usando para ello una estructura set. El resultado final debe ser una lista, con la misma estructura de la original, pero sin datos repetidos.

Para esto tener en cuenta que:
- Los conjuntos solo pueden almacenar datos inmutables.
- Los diccionarios son estructuras mutables.
- dict.items() devuelve una lista de tuplas.
- dict(tupla) genera un diccionario, donde el primer elemento de la tupla es la clave, y el segundo el valor. Ej:
  -
  ```python
  dict([("Alberto", 10), ("José", 7), ("Dario", 14), ("Ana", 8), ("Maria", 9), ("Emilia", 10)])

  va a generar el siguiente diccionario:

  ```python
  {'Alberto': 10, 'José': 7, 'Dario': 14, 'Ana': 8, 'Maria': 9, 'Emilia': 10}
  ```

In [22]:
lista_tuplas = []
estudiantes_sin_repetidos = []
for estudiante in estudiantes:
    tupla = tuple(estudiante.items())
    lista_tuplas.append(tupla)
conjunto_tuplas = set(lista_tuplas)
print(conjunto_tuplas)
for estudiante in conjunto_tuplas:
    un_estudiante = dict(estudiante)
    estudiantes_sin_repetidos.append(un_estudiante)
for estudiante in estudiantes_sin_repetidos:
    print(estudiante)

{(('name', 'Lopez, Victoria Constanza'), ('section', 'C'), ('dob', '12/11/2007')), (('name', 'Salem Barba, Mahia'), ('section', 'D'), ('dob', '14/10/2005')), (('name', 'Mamani Garrido, Rosario Agostina'), ('section', 'C'), ('dob', '24/10/2006')), (('name', 'Barrera, Matias Ezequiel'), ('section', 'C'), ('dob', '27/02/2007')), (('name', 'Flores, Victoria Agustina'), ('section', 'D'), ('dob', '12/12/2006')), (('name', 'Guzman, Jazmin Esmeralda Belen'), ('section', 'D'), ('dob', '31/07/2006')), (('name', 'Voltolini, Emanuel Tobias'), ('section', 'D'), ('dob', '17/09/2006')), (('name', 'Araoz Sanchez, Lautaro Nahuel'), ('section', 'C'), ('dob', '28/12/2005')), (('name', 'Sanchez Flores, Matías Agustín'), ('section', 'C'), ('dob', '15/02/2007')), (('name', 'Bracamonte Martinez, Salvador'), ('section', 'C'), ('dob', '02/11/2005')), (('name', 'Angel, Camila Juliana'), ('section', 'D'), ('dob', '07/03/2007')), (('name', 'Martinez, Tomas Andres'), ('section', 'D'), ('dob', '22/03/2007')), (('name', 'Grancara, Martina Luna'), ('section', 'C'), ('dob', '15/12/2006')), (('name', 'Galvan, Lourdes Yamila'), ('section', 'C'), ('dob', '19/08/2005')), (('name', 'Virgillito, Katya Milena'), ('section', 'C'), ('dob', '19/06/2007')), (('name', 'D Elia, Alvaro Tadeo'), ('section', 'D'), ('dob', '27/08/2006')), (('name', 'Guanca, Sara Elizabeth'), ('section', 'C'), ('dob', '17/01/2007')), (('name', 'Merluzzi Dagum, Ignacio'), ('section', 'C'), ('dob', '22/12/2005')), (('name', 'Scarano, Renato Marcelo'), ('section', 'C'), ('dob', '06/12/2006')), (('name', 'Diaz, Dulce Maitena'), ('section', 'C'), ('dob', '11/12/2006')), (('name', 'Soto Camara, Agustin Ignacio'), ('section', 'D'), ('dob', '07/11/2005')), (('name', 'Amador, Luana Micaela'), ('section', 'C'), ('dob', '09/12/2006')), (('name', 'Guzman, Angélica Morena'), ('section', 'D'), ('dob', '11/04/2007')), (('name', 'Vilte, Mia Antonella Alondra'), ('section', 'C'), ('dob', '10/09/2005')), (('name', 'Abud Laspiur, Lourdes Mariel'), ('section', 'C'), ('dob', '05/12/2006')), (('name', 'Colque Rivero, Ariana Zoe Del Valle'), ('section', 'C'), ('dob', '27/12/2006')), (('name', 'Argañaraz, Agostina Abril'), ('section', 'C'), ('dob', '11/10/2006')), (('name', 'Alvarado, Ludmila Del Milagro'), ('section', 'D'), ('dob', '06/09/2006')), (('name', 'Lezcano, Celia Morena'), ('section', 'D'), ('dob', '01/07/2005')), (('name', 'Rosales, Francisco Gabriel'), ('section', 'D'), ('dob', '14/11/2006')), (('name', 'Lacour Polo, Nazarena'), ('section', 'D'), ('dob', '19/12/2005')), (('name', 'Barrozo Vedia, Joaquin Nicolas'), ('section', 'C'), ('dob', '15/04/2006')), (('name', 'Sierra, Lucas Mauricio'), ('section', 'C'), ('dob', '03/04/2005')), (('name', 'Caseres, Maria Antonia'), ('section', 'D'), ('dob', '01/07/2006')), (('name', 'Correa Segovia, Hugo Mariano'), ('section', 'D'), ('dob', '04/12/2006')), (('name', 'Jaime, Anita Maria Belen'), ('section', 'D'), ('dob', '19/04/2007')), (('name', 'Figueroa, Santino Josue'), ('section', 'C'), ('dob', '12/05/2007')), (('name', 'Portella Valdivia, Pedro Francisco'), ('section', 'D'), ('dob', '24/01/2007')), (('name', 'Zalazar, Santino Stefano'), ('section', 'D'), ('dob', '30/09/2006')), (('name', 'Retamal Cisneros, Zacarias Josue'), ('section', 'D'), ('dob', '24/02/2007')), (('name', 'Rios, Lucia Magali'), ('section', 'C'), ('dob', '22/09/2006')), (('name', 'Gallo, Octavio Ismael'), ('section', 'C'), ('dob', '04/08/2006')), (('name', 'Marinaro, Martin Ezequiel'), ('section', 'C'), ('dob', '03/11/2006')), (('name', 'Alurralde, Solange Stefania'), ('section', 'D'), ('dob', '02/04/2007')), (('name', 'Rasuk, Karim'), ('section', 'C'), ('dob', '13/07/2007')), (('name', 'Giangreco, Vitto Tomasso'), ('section', 'C'), ('dob', '21/03/2007')), (('name', 'Arenas, Lucas Gabriel'), ('section', 'D'), ('dob', '26/06/2007')), (('name', 'Bettinelli, Valentino'), ('section', 'C'), ('dob', '12/07/2006')), (('name', 'Messina, Martina'), ('section', 'C'), ('dob', '13/07/2005')), (('name', 'Anaquin, Leonardo Ezequiel'), ('section', 'C'), ('dob', '06/09/2005')), (('name', 'Castillo, Paulina Milagros'), ('section', 'D'), ('dob', '01/06/2007')), (('name', 'Lascano Guanca, Marcelo Fabricio'), ('section', 'D'), ('dob', '17/02/2006')), (('name', 'Villalba, Irina'), ('section', 'D'), ('dob', '09/09/2006')), (('name', 'Geronimo Soriano, Lizzie Amaya'), ('section', 'D'), ('dob', '20/01/2007')), (('name', 'Tapia, Martin Gabriel'), ('section', 'C'), ('dob', '30/05/2006')), (('name', 'Flores Cardozo, Agustina Tiara'), ('section', 'C'), ('dob', '18/03/2006'))}
{'name': 'Lopez, Victoria Constanza', 'section': 'C', 'dob': '12/11/2007'}
{'name': 'Salem Barba, Mahia', 'section': 'D', 'dob': '14/10/2005'}
{'name': 'Mamani Garrido, Rosario Agostina', 'section': 'C', 'dob': '24/10/2006'}
{'name': 'Barrera, Matias Ezequiel', 'section': 'C', 'dob': '27/02/2007'}
{'name': 'Flores, Victoria Agustina', 'section': 'D', 'dob': '12/12/2006'}
{'name': 'Guzman, Jazmin Esmeralda Belen', 'section': 'D', 'dob': '31/07/2006'}
{'name': 'Voltolini, Emanuel Tobias', 'section': 'D', 'dob': '17/09/2006'}
{'name': 'Araoz Sanchez, Lautaro Nahuel', 'section': 'C', 'dob': '28/12/2005'}
{'name': 'Sanchez Flores, Matías Agustín', 'section': 'C', 'dob': '15/02/2007'}
{'name': 'Bracamonte Martinez, Salvador', 'section': 'C', 'dob': '02/11/2005'}
{'name': 'Angel, Camila Juliana', 'section': 'D', 'dob': '07/03/2007'}
{'name': 'Martinez, Tomas Andres', 'section': 'D', 'dob': '22/03/2007'}
{'name': 'Grancara, Martina Luna', 'section': 'C', 'dob': '15/12/2006'}
{'name': 'Galvan, Lourdes Yamila', 'section': 'C', 'dob': '19/08/2005'}
{'name': 'Virgillito, Katya Milena', 'section': 'C', 'dob': '19/06/2007'}
{'name': 'D Elia, Alvaro Tadeo', 'section': 'D', 'dob': '27/08/2006'}
{'name': 'Guanca, Sara Elizabeth', 'section': 'C', 'dob': '17/01/2007'}
{'name': 'Merluzzi Dagum, Ignacio', 'section': 'C', 'dob': '22/12/2005'}
{'name': 'Scarano, Renato Marcelo', 'section': 'C', 'dob': '06/12/2006'}
{'name': 'Diaz, Dulce Maitena', 'section': 'C', 'dob': '11/12/2006'}
{'name': 'Soto Camara, Agustin Ignacio', 'section': 'D', 'dob': '07/11/2005'}
{'name': 'Amador, Luana Micaela', 'section': 'C', 'dob': '09/12/2006'}
{'name': 'Guzman, Angélica Morena', 'section': 'D', 'dob': '11/04/2007'}
{'name': 'Vilte, Mia Antonella Alondra', 'section': 'C', 'dob': '10/09/2005'}
{'name': 'Abud Laspiur, Lourdes Mariel', 'section': 'C', 'dob': '05/12/2006'}
{'name': 'Colque Rivero, Ariana Zoe Del Valle', 'section': 'C', 'dob': '27/12/2006'}
{'name': 'Argañaraz, Agostina Abril', 'section': 'C', 'dob': '11/10/2006'}
{'name': 'Alvarado, Ludmila Del Milagro', 'section': 'D', 'dob': '06/09/2006'}
{'name': 'Lezcano, Celia Morena', 'section': 'D', 'dob': '01/07/2005'}
{'name': 'Rosales, Francisco Gabriel', 'section': 'D', 'dob': '14/11/2006'}
{'name': 'Lacour Polo, Nazarena', 'section': 'D', 'dob': '19/12/2005'}
{'name': 'Barrozo Vedia, Joaquin Nicolas', 'section': 'C', 'dob': '15/04/2006'}
{'name': 'Sierra, Lucas Mauricio', 'section': 'C', 'dob': '03/04/2005'}
{'name': 'Caseres, Maria Antonia', 'section': 'D', 'dob': '01/07/2006'}
{'name': 'Correa Segovia, Hugo Mariano', 'section': 'D', 'dob': '04/12/2006'}
{'name': 'Jaime, Anita Maria Belen', 'section': 'D', 'dob': '19/04/2007'}
{'name': 'Figueroa, Santino Josue', 'section': 'C', 'dob': '12/05/2007'}
{'name': 'Portella Valdivia, Pedro Francisco', 'section': 'D', 'dob': '24/01/2007'}
{'name': 'Zalazar, Santino Stefano', 'section': 'D', 'dob': '30/09/2006'}
{'name': 'Retamal Cisneros, Zacarias Josue', 'section': 'D', 'dob': '24/02/2007'}
{'name': 'Rios, Lucia Magali', 'section': 'C', 'dob': '22/09/2006'}
{'name': 'Gallo, Octavio Ismael', 'section': 'C', 'dob': '04/08/2006'}
{'name': 'Marinaro, Martin Ezequiel', 'section': 'C', 'dob': '03/11/2006'}
{'name': 'Alurralde, Solange Stefania', 'section': 'D', 'dob': '02/04/2007'}
{'name': 'Rasuk, Karim', 'section': 'C', 'dob': '13/07/2007'}
{'name': 'Giangreco, Vitto Tomasso', 'section': 'C', 'dob': '21/03/2007'}
{'name': 'Arenas, Lucas Gabriel', 'section': 'D', 'dob': '26/06/2007'}
{'name': 'Bettinelli, Valentino', 'section': 'C', 'dob': '12/07/2006'}
{'name': 'Messina, Martina', 'section': 'C', 'dob': '13/07/2005'}
{'name': 'Anaquin, Leonardo Ezequiel', 'section': 'C', 'dob': '06/09/2005'}
{'name': 'Castillo, Paulina Milagros', 'section': 'D', 'dob': '01/06/2007'}
{'name': 'Lascano Guanca, Marcelo Fabricio', 'section': 'D', 'dob': '17/02/2006'}
{'name': 'Villalba, Irina', 'section': 'D', 'dob': '09/09/2006'}
{'name': 'Geronimo Soriano, Lizzie Amaya', 'section': 'D', 'dob': '20/01/2007'}
{'name': 'Tapia, Martin Gabriel', 'section': 'C', 'dob': '30/05/2006'}
{'name': 'Flores Cardozo, Agustina Tiara', 'section': 'C', 'dob': '18/03/2006'}

2. Crea un conjunto de nombres y otro de apellidos para 5C y  para 5D.
- Muestra los conjuntos generados

> recordá que los conjuntos solo pueden almacenar datos inmutables

In [14]:
nombres_5c = set()
apellidos_5c = set()
nombres_5d = set()
apellidos_5d = set()
for estudiante in estudiantes:
    nombre_completo = estudiante["name"]
    apellido,nombre = nombre_completo.split(",")
    apellidos = apellido.split(" ")
    nombres = nombre.strip().split(" ")
    if estudiante["section"] == "C":
        for nombre in nombres:
            nombres_5c.add(nombre)
        for apellido in apellidos:
            apellidos_5c.add(apellido)
    else:
        for nombre in nombres:
            nombres_5d.add(nombre)
        for apellido in apellidos:
            apellidos_5d.add(apellido)
print(f"{nombres_5c= }")
print(f"{apellidos_5c= }")
print(f"{nombres_5d= }")
print(f"{apellidos_5d= }")

nombres_5c= {'Dulce', 'Renato', 'Micaela', 'Joaquin', 'Valle', 'Karim', 'Elizabeth', 'Tomasso', 'Lautaro', 'Valentino', 'Agustina', 'Martina', 'Rosario', 'Leonardo', 'Lucia', 'Agustín', 'Victoria', 'Maitena', 'Mariel', 'Agostina', 'Santino', 'Zoe', 'Marcelo', 'Lucas', 'Josue', 'Ismael', 'Octavio', 'Luana', 'Katya', 'Antonella', 'Martin', 'Nahuel', 'Del', 'Ariana', 'Tiara', 'Constanza', 'Sara', 'Mauricio', 'Magali', 'Nicolas', 'Salvador', 'Gabriel', 'Mia', 'Alondra', 'Abril', 'Matias', 'Yamila', 'Luna', 'Ignacio', 'Milena', 'Ezequiel', 'Matías', 'Lourdes', 'Vitto'}
apellidos_5c= {'Rasuk', 'Grancara', 'Dagum', 'Colque', 'Rivero', 'Cardozo', 'Vedia', 'Bracamonte', 'Marinaro', 'Flores', 'Figueroa', 'Amador', 'Martinez', 'Virgillito', 'Diaz', 'Giangreco', 'Galvan', 'Sanchez', 'Messina', 'Lopez', 'Rios', 'Gallo', 'Abud', 'Scarano', 'Argañaraz', 'Bettinelli', 'Barrozo', 'Sierra', 'Guanca', 'Garrido', 'Barrera', 'Anaquin', 'Merluzzi', 'Tapia', 'Araoz', 'Laspiur', 'Mamani', 'Vilte'}
nombres_5d= {'Anita', 'Francisco', 'Zacarias', 'Morena', 'Agustina', 'Antonia', 'Pedro', 'Nazarena', 'Victoria', 'Agustin', 'Ludmila', 'Santino', 'Stefano', 'Lucas', 'Angélica', 'Marcelo', 'Tomas', 'Tadeo', 'Paulina', 'Josue', 'Lizzie', 'Hugo', 'Stefania', 'Andres', 'Emanuel', 'Mariano', 'Del', 'Alvaro', 'Irina', 'Camila', 'Maria', 'Celia', 'Mahia', 'Gabriel', 'Amaya', 'Jazmin', 'Esmeralda', 'Belen', 'Solange', 'Fabricio', 'Milagros', 'Milagro', 'Ignacio', 'Juliana', 'Tobias'}
apellidos_5d= {'Soto', 'Camara', 'Cisneros', 'Zalazar', 'Elia', 'D', 'Lacour', 'Flores', 'Barba', 'Martinez', 'Polo', 'Caseres', 'Jaime', 'Alvarado', 'Segovia', 'Guzman', 'Soriano', 'Geronimo', 'Angel', 'Arenas', 'Valdivia', 'Retamal', 'Rosales', 'Lascano', 'Castillo', 'Lezcano', 'Portella', 'Guanca', 'Salem', 'Correa', 'Villalba', 'Voltolini', 'Alurralde'}

3. Muestra cuantos nombres únicos hay en cada curso.

In [ ]:
lista_nombres_5c = []
for estudiante in estudiantes_sin_repetidos:
    if estudiante["section"] == "C":
        nombre_completo = estudiante["name"]
        apellido,nombre = nombre_completo.split(",")
        nombres_separados = nombre.split(" ")
        for nombre in nombres_separados:
            lista_nombres_5c.append(nombre)
ocurrencias_nombres_5c = {}
for nombre in lista_nombres_5c:
    if nombre in ocurrencias_nombres_5c:
        ocurrencias_nombres_5c[nombre] += 1
    else:
        ocurrencias_nombres_5c[nombre] = 1
for nombre,ocurrencias in ocurrencias_nombres_5c.items():
    if ocurrencias == 1:
        print({nombre})

In [ ]:
lista_nombres_5d = []
for estudiante in estudiantes_sin_repetidos:
    if estudiante["section"] == "D":
        nombre_completo = estudiante["name"]
        apellido,nombre = nombre_completo.split(",")
        nombres_separados = nombre.split(" ")
        for nombre in nombres_separados:
            lista_nombres_5d.append(nombre)
ocurrencias_nombres_5d = {}
for nombre in lista_nombres_5d:
    if nombre in ocurrencias_nombres_5d:
        ocurrencias_nombres_5d[nombre] += 1
    else:
        ocurrencias_nombres_5d[nombre] = 1
for nombre,ocurrencias in ocurrencias_nombres_5d.items():
    if ocurrencias == 1:
        print({nombre})

In [35]:
#MISMO EJERCICIO HACIENDO USO DE SET()
lista_nombres_5c = set()
for estudiante in estudiantes_sin_repetidos:
    if estudiante["section"] == "C":
        nombre_completo = estudiante["name"]
        apellido,nombre = nombre_completo.split(",")
        nombres_separados = nombre.split(" ")
        for nombre in nombres_separados:
            lista_nombres_5c.add(nombre)
ocurrencias_nombres_5c = {}
for nombre in lista_nombres_5c:
    if nombre in ocurrencias_nombres_5c:
        ocurrencias_nombres_5c[nombre] += 1
    else:
        ocurrencias_nombres_5c[nombre] = 1
for nombre,ocurrencias in ocurrencias_nombres_5c.items():
    if ocurrencias == 1:
        print({nombre})

{''}
{'Dulce'}
{'Renato'}
{'Micaela'}
{'Joaquin'}
{'Valle'}
{'Karim'}
{'Elizabeth'}
{'Tomasso'}
{'Lautaro'}
{'Martina'}
{'Rosario'}
{'Lucia'}
{'Valentino'}
{'Agustín'}
{'Leonardo'}
{'Agustina'}
{'Victoria'}
{'Ezequiel'}
{'Maitena'}
{'Mariel'}
{'Agostina'}
{'Santino'}
{'Marcelo'}
{'Zoe'}
{'Lucas'}
{'Josue'}
{'Ismael'}
{'Katya'}
{'Luana'}
{'Octavio'}
{'Antonella'}
{'Martin'}
{'Nahuel'}
{'Del'}
{'Constanza'}
{'Ariana'}
{'Tiara'}
{'Mauricio'}
{'Magali'}
{'Nicolas'}
{'Salvador'}
{'Mia'}
{'Gabriel'}
{'Alondra'}
{'Abril'}
{'Matias'}
{'Yamila'}
{'Luna'}
{'Milena'}
{'Ignacio'}
{'Sara'}
{'Matías'}
{'Lourdes'}
{'Vitto'}

In [36]:
#MISMO EJERCICIO HACIENDO USO DE SET()
lista_nombres_5d = set()
for estudiante in estudiantes_sin_repetidos:
    if estudiante["section"] == "D":
        nombre_completo = estudiante["name"]
        apellido,nombre = nombre_completo.split(",")
        nombres_separados = nombre.split(" ")
        for nombre in nombres_separados:
            lista_nombres_5d.add(nombre)
ocurrencias_nombres_5d = {}
for nombre in lista_nombres_5d:
    if nombre in ocurrencias_nombres_5d:
        ocurrencias_nombres_5d[nombre] += 1
    else:
        ocurrencias_nombres_5d[nombre] = 1
for nombre,ocurrencias in ocurrencias_nombres_5d.items():
    if ocurrencias == 1:
        print({nombre})

{''}
{'Anita'}
{'Francisco'}
{'Zacarias'}
{'Morena'}
{'Agustina'}
{'Antonia'}
{'Pedro'}
{'Nazarena'}
{'Victoria'}
{'Agustin'}
{'Ludmila'}
{'Santino'}
{'Stefano'}
{'Angélica'}
{'Lucas'}
{'Marcelo'}
{'Tomas'}
{'Tadeo'}
{'Josue'}
{'Paulina'}
{'Lizzie'}
{'Andres'}
{'Hugo'}
{'Emanuel'}
{'Stefania'}
{'Mariano'}
{'Del'}
{'Alvaro'}
{'Irina'}
{'Camila'}
{'Celia'}
{'Maria'}
{'Mahia'}
{'Gabriel'}
{'Amaya'}
{'Jazmin'}
{'Esmeralda'}
{'Belen'}
{'Solange'}
{'Fabricio'}
{'Milagros'}
{'Milagro'}
{'Ignacio'}
{'Juliana'}
{'Tobias'}

4. Muestra cuantos apellidos únicos hay en cada curso.

In [ ]:
lista_apellidos_5c = []
for estudiante in estudiantes_sin_repetidos:
    if estudiante["section"] == "C":
        nombre_completo = estudiante["name"]
        apellido,nombre = nombre_completo.split(",")
        apellidos_separados = apellido.split(" ")
        for apellido in apellidos_separados:
            lista_apellidos_5c.append(apellido)
ocurrencias_apellidos_5c = {}
for apellido in lista_apellidos_5c:
    if apellido in ocurrencias_apellidos_5c:
        ocurrencias_apellidos_5c[apellido] += 1
    else:
        ocurrencias_apellidos_5c[apellido] = 1
for apellido,ocurrencias in ocurrencias_apellidos_5c.items():
    if ocurrencias == 1:
        print({apellido})

In [ ]:
lista_apellidos_5d = []
for estudiante in estudiantes_sin_repetidos:
    if estudiante["section"] == "D":
        nombre_completo = estudiante["name"]
        apellido,nombre = nombre_completo.split(",")
        apellidos_separados = apellido.split(" ")
        for apellido in apellidos_separados:
            lista_apellidos_5d.append(apellido)
ocurrencias_apellidos_5d = {}
for apellido in lista_apellidos_5d:
    if apellido in ocurrencias_apellidos_5d:
        ocurrencias_apellidos_5d[apellido] += 1
    else:
        ocurrencias_apellidos_5d[apellido] = 1
for apellido,ocurrencias in ocurrencias_apellidos_5d.items():
    if ocurrencias == 1:
        print({apellido})

5. Mostrá los nombres que aparecen en ambos cursos

In [33]:
estudiantes_5C = set()
estudiantes_5D = set()
for estudiante in estudiantes_sin_repetidos:
  nombre_completo = estudiante["name"]
  apellido,nombre = nombre_completo.split(",")
  nombres_separados = nombre.split(" ")
  if estudiante["section"] == "C":
    for nombre in nombres_separados:
        estudiantes_5C.add(nombre)
  else:
    for nombre in nombres_separados:
        estudiantes_5D.add(nombre)
nombres_repetidos = estudiantes_5C.intersection(estudiantes_5D)
for estudiante in nombres_repetidos:
  print(estudiante)

Santino
Lucas
Marcelo
Del
Agustina
Josue
Ignacio
Victoria
Gabriel

6. Mostrá los apellidos que se aparecen en ambos cursos

In [34]:
estudiantes_5C = set()
estudiantes_5D = set()
for estudiante in estudiantes_sin_repetidos:
  nombre_completo = estudiante["name"]
  apellido,nombre = nombre_completo.split(",")
  apellidos_separados = apellido.split(" ")
  if estudiante["section"] == "C":
    for apellido in apellidos_separados:
        estudiantes_5C.add(apellido)
  else:
    for apellido in apellidos_separados:
        estudiantes_5D.add(apellido)
apellidos_repetidos = estudiantes_5C.intersection(estudiantes_5D)
for estudiante in apellidos_repetidos:
  print(estudiante)

Flores
Martinez
Guanca

7. Mostrá los nombres de los estudiantes de 5C que no existen en 5D y viceversa.

In [37]:
nombres_5C = set()
nombres_5D = set()
for estudiante in estudiantes_sin_repetidos:
  nombre_completo = estudiante["name"]
  apellido,nombre = nombre_completo.split(",")
  nombres_separados = nombre.split(" ")
  if estudiante["section"] == "C":
    for nombre in nombres_separados:
        nombres_5C.add(nombre)
  else:
    for nombre in nombres_separados:
        nombres_5D.add(nombre)
diferencia_nombres = nombres_5C.difference(nombres_5D)
for estudiante in diferencia_nombres:
  print(estudiante)

Dulce
Renato
Micaela
Joaquin
Valle
Karim
Elizabeth
Tomasso
Lautaro
Martina
Rosario
Lucia
Valentino
Agustín
Leonardo
Maitena
Mariel
Agostina
Zoe
Ismael
Katya
Luana
Octavio
Antonella
Martin
Nahuel
Constanza
Ariana
Tiara
Sara
Mauricio
Magali
Nicolas
Salvador
Mia
Alondra
Abril
Matias
Yamila
Luna
Milena
Ezequiel
Matías
Lourdes
Vitto

In [39]:
nombres_5C = set()
nombres_5D = set()
for estudiante in estudiantes_sin_repetidos:
  nombre_completo = estudiante["name"]
  apellido,nombre = nombre_completo.split(",")
  nombres_separados = nombre.split(" ")
  if estudiante["section"] == "C":
    for nombre in nombres_separados:
        nombres_5C.add(nombre)
  else:
    for nombre in nombres_separados:
        nombres_5D.add(nombre)
diferencia_nombres = nombres_5D.difference(nombres_5C)
for estudiante in diferencia_nombres:
  print(estudiante)

Anita
Francisco
Zacarias
Morena
Antonia
Pedro
Nazarena
Agustin
Ludmila
Stefano
Angélica
Tomas
Tadeo
Paulina
Hugo
Andres
Stefania
Emanuel
Mariano
Alvaro
Irina
Camila
Celia
Maria
Mahia
Amaya
Juliana
Jazmin
Esmeralda
Belen
Solange
Fabricio
Milagros
Milagro
Lizzie
Tobias

8. Mostrá los apellidos de los estudiantes de 5C que no existen en 5D y viceversa.

In [38]:
apellidos_5C = set()
apellidos_5D = set()
for estudiante in estudiantes_sin_repetidos:
  nombre_completo = estudiante["name"]
  apellido,nombre = nombre_completo.split(",")
  apellidos_separados = apellido.split(" ")
  if estudiante["section"] == "C":
    for apellido in apellidos_separados:
        apellidos_5C.add(apellido)
  else:
    for apellido in apellidos_separados:
        apellidos_5D.add(apellido)
diferencia_apellidos = apellidos_5C.difference(apellidos_5D)
for estudiante in diferencia_apellidos:
  print(estudiante)

Rasuk
Grancara
Dagum
Colque
Rivero
Cardozo
Vedia
Bracamonte
Marinaro
Figueroa
Amador
Virgillito
Diaz
Giangreco
Galvan
Sanchez
Messina
Lopez
Rios
Gallo
Abud
Scarano
Argañaraz
Bettinelli
Barrozo
Sierra
Garrido
Barrera
Anaquin
Merluzzi
Tapia
Araoz
Laspiur
Mamani
Vilte

In [40]:
apellidos_5C = set()
apellidos_5D = set()
for estudiante in estudiantes_sin_repetidos:
  nombre_completo = estudiante["name"]
  apellido,nombre = nombre_completo.split(",")
  apellidos_separados = apellido.split(" ")
  if estudiante["section"] == "C":
    for apellido in apellidos_separados:
        apellidos_5C.add(apellido)
  else:
    for apellido in apellidos_separados:
        apellidos_5D.add(apellido)
diferencia_apellidos = apellidos_5D.difference(apellidos_5C)
for estudiante in diferencia_apellidos:
  print(estudiante)

Soto
Camara
Cisneros
Zalazar
Elia
D
Lacour
Barba
Polo
Caseres
Jaime
Alvarado
Guzman
Segovia
Soriano
Geronimo
Angel
Arenas
Valdivia
Retamal
Rosales
Lascano
Castillo
Lezcano
Portella
Salem
Correa
Villalba
Voltolini
Alurralde

9. Mostrá todos los nombres, menos aquellos que existen en ambos cursos.

In [ ]:
nombres_5C = set()
nombres_5D = set()
for estudiante in estudiantes_sin_repetidos:
  nombre_completo = estudiante["name"]
  apellido,nombre = nombre_completo.split(",")
  nombres_separados = nombre.split(" ")
  if estudiante["section"] == "C":
    for apellido in apellidos_separados:
        apellidos_5C.add(apellido)
  else:
    for apellido in apellidos_separados:
        apellidos_5D.add(apellido)
nombres_unicos = nombres_5C.symmetric_difference(nombres_5D)
for estudiante in nombres_unicos:
  print(estudiante)

10. elimina tu nombre del conjunto al que pertenece

In [55]:
alumnos_5c = set()
alumnos_5d = set()
for estudiante in estudiantes_sin_repetidos:
  nombre_estudiante = estudiante["name"]
  if estudiante["section"] == "C":
    alumnos_5c.add(nombre_estudiante)
  else:
    alumnos_5d.add(nombre_estudiante)

nombre_estudiante = input("Por favor, ingrese su nombre completo (apellido, nombre): para eliminarlo del conjunto: ").title()
curso_estudiante = input("Por favor, ingrese su curso: ").upper()
if curso_estudiante == "C":
  for estudiante in alumnos_5c:
    if nombre_estudiante in alumnos_5c:
      alumnos_5c.discard(nombre_estudiante)
      print("Su nombre ha sido eliminado correctamente")
    else:
        print("Estudiante no encontrado en la sección C.")
        break
elif curso_estudiante == "D":
  for estudiante in alumnos_5d:
    if nombre_estudiante in alumnos_5d:
      alumnos_5d.discard(nombre_estudiante)
      print("Su nombre ha sido eliminado correctamente")
    else:
        print("Estudiante no encontrado en la sección D.")
        break
else:
  print("Estudiante no encontrado. Verifique que los datos ingresados sean correctos.")

if curso_estudiante == "C":
  for estudiante in alumnos_5c:
    print(estudiante)
else:
  for estudiante in alumnos_5d:
    print(estudiante)

Por favor, ingrese su nombre completo (apellido, nombre): para eliminarlo del conjunto: grancara, martina luna
Por favor, ingrese su curso: c
Estudiante no encontrado en la sección C.
Rios, Lucia Magali
Amador, Luana Micaela
Guanca, Sara Elizabeth
Figueroa, Santino Josue
Mamani Garrido, Rosario Agostina
Marinaro, Martin Ezequiel
Virgillito, Katya Milena
Colque Rivero, Ariana Zoe Del Valle
Messina, Martina
Flores Cardozo, Agustina Tiara
Sierra, Lucas Mauricio
Merluzzi Dagum, Ignacio
Abud Laspiur, Lourdes Mariel
Giangreco, Vitto Tomasso
Sanchez Flores, Matías Agustín
Bettinelli, Valentino
Barrera, Matias Ezequiel
Lopez, Victoria Constanza
Argañaraz, Agostina Abril
Tapia, Martin Gabriel
Galvan, Lourdes Yamila
Gallo, Octavio Ismael
Barrozo Vedia, Joaquin Nicolas
Vilte, Mia Antonella Alondra
Scarano, Renato Marcelo
Diaz, Dulce Maitena
Rasuk, Karim
Bracamonte Martinez, Salvador
Araoz Sanchez, Lautaro Nahuel
Anaquin, Leonardo Ezequiel

11. Solicita al usuario un nombre y un apellido y agregalos a los correspondientes conjuntos de tu curso.

In [ ]:
pass

12. Solicita un nombre y verifica si este existe en el diccionario